<!--
    Project: Secure Software Architecture - Software Engineering AT2
    Author: William Drayton
    Date Created: 05/03/26
    Description: Signup page for the PWA. 
    -->

    <!DOCTYPE html>
    <html lang="en">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel='stylesheet' href='../static/styles/myStyle.css'>
        <title>Secure PWA | Register</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    </head>
    
    <body>

        <main>

            <header class="text-center custom-header position-relative text-black p-3 fw-bold">🔒 Secure PWA 🔒</header>

            <div class="login-container container d-flex flex-column mt-3">
                <div class="login-card card p-4">
                    <h2>Welcome to the Secure PWA</h2><br>

                    <h3>Create an Account:</h3>


                    <form id="signupForm">

                        <label class="form-label">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" required><br>

                        <label class="form-label">Email Address:</label>
                        <input type="email" id="email" name="email" class="form-control" required><br>

                        <label class="form-label">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" required><br>

                        <button type="submit" class="btn btn-secondary">Sign Up</button><br>

                        <p id="signupResult" class="mt-2 mb-2"></p>

                    </form>

                    <br><h2>Returning to the Secure PWA?</h2>
                    <h3>Log in Here:</h3>
                    <p><a href="/login">Login</a></p>

                </div>
        
            </div>

        </main>

        <script src='../static/scripts/myScript.js'></script>

    </body>

</html>
