/*
    Project: Secure Software Architecture - Software Engineering AT2
    Author: William Drayton
    Date Created: 05/03/26
    Description: A style sheet for the Secure PWA. 
*/

main{
    font-family: 'Space Grotesk', sans-serif;
}