/*
    Project: Secure Software Architecture - Software Engineering AT2
    Author: William Drayton
    Date Created: 05/03/26
    Description: A style sheet for the Secure PWA. 
*/

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #6ea9e3;
    background-color: #f4f8ff;
    font-family: 'Space Grotesk', sans-serif;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-cog {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 22px;
    color: black;
    padding: 8px;
    border-radius: 50%;
}
