$primaryColour: #E9E8E3 ;
$secondaryColour: #EE9E61 ;
$tertiaryColour: #637D56 ;

.custom-navbar{

    background-color: $primaryColour;


}

.custom-header{

    background-color: $secondaryColour;
    
}
